@mixin flexLayout {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin textStyle {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@mixin centering($topValue) {
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin mobile-devices {
  @media screen and (min-width: 320px) and (max-width: 480px) {
    @content;
  }
}

@mixin tablet-devices {
  @media screen and (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}
@mixin laptop-devices {
  @media screen and (min-width: 769px) and (max-width: 1206px) {
    @content;
  }
}
